# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.venv/
ENV/

# Variables de entorno
.env
.env.local

# Base de datos local
db.sqlite3
*.sqlite3

# Archivos estáticos/media
staticfiles/
media/

# Logs
*.log
logs/

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# Frontend
node_modules/
dist/
build/
